

h1{
    text-align: center;
    color: brown;
}

.img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.bio {
    text-align: left;
    font-size: 20px;
    /* border: solid; */
    margin: 5px;
    padding: 10px 20px;
}
h2{
    text-align: left;
    color: mediumblue;
}
.span {
    color: red;  
}

.para{ 
    border: dashed;
    margin: 6px 10px;
    padding: 15px 15px;
    font-size: 20px;
    color: red;
    
}

table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
.hobbies h1{
    text-align: left;
    display: flex;
}
.virat{
    background-image: url(file:///C:/Users/HP/Desktop/images/virat-kohli.webp);
    height: 50vh;
    width: 50vw;
    background-repeat: no-repeat;
    background-position: absolute;
    /* background-position: relative; */
    border: 2px solid;
    position: fixed;
    
}
.img-float{
    /* display: block; */
    /* float: right; */
    /* float: left; */
    /* position: fixed; */
    /* position:fixed; */
    /* position: ; */
    /* display: block; */
    display: inline;
}

